<div class="regpage">
    <div id="buslink" class = "links">
     <div id="busdesc" class="desc">
       <div>Want to be a part of the business?</div>
       <button type="button"><a [routerLink]="['/landing/signup/bus']">Sign-up as Business</a></button>
     </div>
    </div>
    <div id="drivelink" class = "links">
     <div id="drivedesc" class="desc">
       <div>Want to be someone who can lend a hand with?</div>
       <button type="button"><a [routerLink]="['/landing/signup/driver']">Sign-up as Delivery Driver</a></button>
     </div>
    </div>
</div>
