<div class = "heading">
    <div class="logo-container">
      <a routerLink= "" class="image-link">
        <img src="../assets/LaundryMateLogo.png" alt="LaundryMate">
      </a>
    </div>
    <div class = "link-container">
      <a href = " " id = "customer">CUSTOMER</a>
      <a href = " " id = "provider" routerLink= "LoggedHome">PROVIDERS</a>
      <a href = " " id = "partner">PARTNERS</a>
      <a href = " " id = "faq">HELP</a>
    </div>
   <div class = "buttons">
   <button id ="reg" (click) = "goToSign()">SIGN-UP</button>
   <button id = "log" (click) = "goToLog()">LOG-IN</button> 
   </div>
  </div>
