<div class = "heading">
    <div class="logo-container">
      <a routerLink= "" class="image-link">
        <img src="../assets/LaundryMateLogo.png" alt="LaundryMate">
      </a>
    </div>
    <div class = "link-container">
      <a  id = "customer">CUSTOMER</a>
      <a id="provider" [routerLink]="['/Logged', 'LoggedHome']">PROVIDERS</a>
      <a id = "partner">PARTNERS</a>
      <a id = "faq">HELP</a>
    </div>
   <div class = "buttons">
   <button id ="reg"><a routerLink="signup">SIGN-UP</a></button>
   <button id = "log"><a routerLink = "Login">LOG-IN</a></button> 
   </div>
  </div>
