<div class = "heading">
    <div class="logo-container">
      <a href="../landingpage.html" class="image-link" routerLink="">
        <img src="../assets/LaundryMateLogo.png" alt="LaundryMate">
      </a>
    </div>
    <div class = "link-container">
      <a href = "../index.html" id = "home" routerLink="LoggedHome">HOME</a>
      <a href = " " id = "orders">ORDERS</a>
      <a href = " " id = "revenue">REVENUE</a>
    </div>
    <div class = "svg-container">
      <img src="../assets/style=stroke.svg" alt="Notification" id = "bell" class="svg-hover">
      <img src = "../assets/menu.svg" id = "menu" alt = "Menu">
    </div>
  </div>
