
<div class = "home_page">
<h3 id = "greeting">WELCOME, {{brand}}</h3>
<div class = "announcement">
<h3>SYSTEM ANNOUNCEMENT:</h3>
</div>
<div class = "main-tracker">
    <div class = "tracker" id = "new_order">
    <h3>NEW ORDER</h3>
    <div class = "picture">
    <img src = "../../../assets/user-avatar-filled-svgrepo-com 1.svg" alt = "Profile pic">
    </div>
    </div>
    <div class = "tracker" id = "new_payment">
    <h3>NEW PAYMENT</h3>
    </div>
    <div class = "tracker" id = "new_coming">
        <h3>NEW COMING</h3>
    </div>
</div>
<div class = "recent_activities">
    <h3>RECENT ACTIVITIES</h3>
    <a href =" ">View All</a>
</div>
</div>